<footer>

<h2 class="title">The ChEMBL-og</h2>
<div class="widget-content">
<p>Stories and news from Computational Chemical Biology Group at <a href="http://www.ebi.ac.uk/">EMBL-EBI</a>. 
We work on computational aspects of drug discovery, and produce the <b>ChEMBL</b> family of data resources:
</p>
<p>
  <ul>
    <li>
        <a href="https://www.ebi.ac.uk/chembl">ChEMBL</a> - for drug discovery bioactivity data.
    </li>
    <li>
        <a href="http://www.surechembl.org/">SureChEMBL</a> - for chemical structures from patents.
    </li>
    <li>
        <a href="http://www.ebi.ac.uk/unichem">UniChem</a> - for chemical structure integration across a large number of public resources.
    </li>
    <li>
        The <a href="http://chembl.blogspot.com/2009/02/sarfari-overview.html">SARfari</a>s - for systems-level views of kinases, GPCRS, and ADME biology.
    </li>
    <li>
        <a href="http://www.ebi.ac.uk/chembl/malaria">ChEMBL-malaria</a> and <a href="https://www.ebi.ac.uk/chemblntd">ChEMBL-NTD</a> - for neglected disease data.
    </li>
    <li>
        <a href="http://www.ebi.ac.uk/chembl/drugebility">DrugEBIlity</a> - for drug target prioritisation.
    </li>
  </ul>
</p>


</footer>